@model IEnumerable<ReviewsSite.Models.Bev>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style.css" />
    <title>BEVerly</title>
</head>
<body>
    <header>
        <h1>BEVerly</h1>

    </header>

    <main>

        @foreach (var bev in Model)
        {
            <p>ID number: @bev.Id</p>
            <p>Description: @bev.Description</p>
            <p>Name: @bev.Name</p>
            <p>Category: @bev.Category</p>
            <p>Review: @bev.Review</p>
        }




    </main>

    <footer>
        &copy; BEVerly 2021
    </footer>
</body>
</html>
